* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: Arial, san-serif;
  color: black;
  box-sizing: border-box;
}

.main.container {
  width: clamp(480px, 75%, 1440px);
  height: 100vh;
  /* background-color: lightgray; */
  background-color: #ededed;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}

.left.container {
  width: 40%;
  height: 100vh;
  padding: 0.8em;
  display: flex;
  flex-direction: column;
}

.playerScore {
  display: grid;
  grid-template-columns: 2fr 4fr 1fr 1fr;
}

.playerScore p {
  font-size: 1.2em;
}

#firstPlayerName,
#firstPlayerScore,
#secondPlayerName,
#secondPlayerScore {
  font-size: 1.2em;
}

#playerInfoForm {
  margin-top: 2em;
}

fieldset {
  border: 2px solid black;
  border-radius: 0.5em;
  padding: 0.5em;
  display: flex;
  flex-direction: column;
}

fieldset > div,
fieldset > button {
  margin: 0.5em;
}

.lighten {
  color: rgba(0, 0, 0, 0.05);
}

legend {
  font-size: 1.2rem;
}

#playerNameInput {
  font-size: 1.2rem;
  width: 100%;
  padding: 0.5em;
  border-radius: 0.5em;
}

#turnFirstDiv,
#playersMarkerDiv {
  width: 95%;
  display: grid;
  grid-template-columns: 2fr 3fr 1fr;
}

.switch {
  margin-left: 1.4em;
}

#turnTxt,
#markerTxt {
  margin-left: 0;
}

.inputPromptTxt,
#turnFirstDiv > span,
#playersMarkerDiv > span {
  font-size: 1.2rem;
}

.inputPromptTxt {
  width: 88%;
}

#startGameBtn {
  font-size: 1.5rem;
  padding: 0.2em;
  border-radius: 0.5em;
}

/* Start of slider definition */
/*   source: https://www.w3schools.com/howto/howto_css_switch.asp */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 2.4em;
  height: 1.4em;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.2em;
  width: 1.2em;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(1em);
  -ms-transform: translateX(1em);
  transform: translateX(1em);
}

/* Rounded sliders */
.slider.round {
  border-radius: 0.8em;
}

.slider.round:before {
  border-radius: 50%;
}
/* End of slider definition */

.text.instructions {
  margin-top: 0.5em;
  padding: 0.5em;
  font-size: 0.6em;
}

h1 {
  font-size: 1.6rem;
}

h3 {
  font-size: 1.2rem;
}

.text.instructions p {
  padding: 0.9em;
}

ul {
  padding-left: 1.5em;
  padding-top: 0.7em;
}

.right.container {
  width: 60%;
  height: 100vh;
  padding: 12em 5em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

button.boardSpace {
  width: 100%;
  height: 100%;
  font-size: 6em;
  color: rgba(0, 0, 0, 0.05);
  border: 5px solid black;
}

button.placed {
  color: rgba(0, 0, 0, 1);
}

#button_7,
#button_9,
#button_1,
#button_3,
#button_5 {
  border: none;
}

#button_7,
#button_9 {
  border-bottom: 5px solid black;
}

#button_4,
#button_6 {
  border: none;
}

#button_8 {
  border-top: none;
}

#button_2 {
  border-bottom: none;
}

#button_3,
#button_1 {
  border-top: 5px solid black;
}

#button_5 {
  border-left: 5px solid black;
  border-right: 5px solid black;
}
